{{#title}}<b>{{#more.link}}<a href="{{{more.link}}}">{{title}}</a>{{/more.link}}{{^more.link}}{{title}}{{/more.link}}</b>

{{/title}}{{description}}{{#more.link}}
<a href="{{{more.link}}}">{{more.text}}</a>{{/more.link}}{{#subscribe.link}}

<a href="{{{subscribe.link}}}">{{#subscribe.text}}{{subscribe.text}}{{/subscribe.text}}{{^subscribe.text}}{{{subscribe.link}}}{{/subscribe.text}}</a>{{/subscribe.link}}